:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.inputform {
  margin: 36px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.searchfield {
  width: 238px;
  height: 22px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #808080;
  padding: 8px 16px;
}

.searchfield:hover {
  border-color: #000000;
}

.searchfield:focus,
.searchfield:active {
  border-color: #4E75FF;
  outline: none;
  box-shadow: 0 0 0 2px rgba(78, 117, 255, 0.2);
}

.searchButton {
  width: 91px !important;
  height: 40px !important;
  background-color: #4E75FF;
  border: 1px solid #4E75FF;
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 32px auto 0;
  align-items: flex-start;
  max-width: calc(3 * 360px + 2 * 24px);
  justify-content: center;
}

.card {
  width: 360px;
  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
  box-sizing: border-box;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 6px 0;
}

.card .image-link {
  display: block;
  width: 100%;
}

.card .image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.likes,
.views,
.comments,
.downloads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.value {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

#custom-loader {
  display:none; 
  text-align:center; 
  margin-top:24px;
}

.loader {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.loader-1 .loader-outter {
  position: absolute;
  border: 4px solid #4E75FF;
  border-left-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: loader-1-outter 1s linear infinite;
}
.loader-1 .loader-inner {
  position: absolute;
  border: 4px solid #4E75FF;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  left: 8px;
  top: 8px;
  border-right-color: transparent;
  animation: loader-1-inner 0.5s linear infinite;
}
@keyframes loader-1-outter {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-1-inner {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(-360deg);}
}


